{% for event, delta in real_events_diff %}
            <div class="event-item">
              <div class="threat-level" data-threat="{{ event.VIOLATION_LEVEL|lower }}"></div>
              <div>ID: {{ event.OBJECT_ID }} {{ event.CAPTURE_DATE }} {{ event.sender }} &rArr; {{ event.recipient }} Файл: {{ event.filename }}</div>
              <div>Политики: 
                {% for policy in event.policies %}
                  <span {% if policy.DISPLAY_NAME in delta.policies %} class="bg-danger" {% endif %} >
                    {{ policy.DISPLAY_NAME }}
                  </span>
                {% endfor %}
              </div>
              <div>Объекты защиты: 
                {% for document in event.protected_documents %}
                  <span {% if document.DISPLAY_NAME in delta.protected_documents %} class="bg-danger" {% endif %} >
                    {{ document.DISPLAY_NAME }}
                  </span>
                {% endfor %}
                </div>
              <div>Вердикт:
                  <span {% if delta.verdict.name == event.VERDICT %} class="bg-danger" {% endif %}>{{ event.VERDICT }} Теги:
                    {% for tag in event.tags %}
                      <span {% if tag.DISPLAY_NAME in delta.tags %} class="bg-danger" {% endif %} >
                        {{ tag.DISPLAY_NAME }}
                      </span>
                    {% endfor %}
                  </span>
              </div>
            </div>
{% endfor %}