{% for event in template_events %}
          <div class="event-item">
            <div class="threat-level" data-threat="{{ event.violation_level|lower }}"></div>
            <div>{{ event.sender }} &rArr; {{ event.recipient }} Файл: {{ event.filename }}</div>
            <div>Политики: 
              {% for policy in event.policies %}
                {{ policy }} 
              {% endfor %}
            </div>
            <div>Объекты защиты: 
              {% for document in event.protected_documents %}
                  {{ document }}
              {% endfor %}
            </div>
            <div>Вердикт: {{ event.verdict }}</div>
            <div>Теги:
              {% for tag in event.tags %}
                {{ tag }}  
              {% endfor %}
            </div>
          </div>
{% endfor %}